.list {
  display: flex;
  gap: 2em;
}

@media (hover: hover) {
  .list a:hover {
    color: var(--accent);
  }
}

@media (hover: none) {
  .list a {
    -webkit-tap-highlight-color: transparent;
  }

  .list a:active {
    color: var(--accent);
  }
}

@media (max-width: 650px) {
  .list {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .list li {
    margin: 0 0.5em;
  }

  .list a {
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    transition: color 0.3s ease;
  }
}
