.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-jump);
  margin-top: var(--space-xs);
  margin-bottom: var(--space-lg);
}

.post h2 {
  margin-top: 0.5em;
  font-size: var(--small-heading3);
  font-weight: 400;
}

.post figure {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9のアスペクト比を表すパディングの値 */
}

.round-image {
  border-radius: 50%;
}

.publish {
  display: flex;
  gap: 0.5em;
  color: var(--gray-50);
  font-size: var(--small-heading3);
}

.gap {
  margin-top: 10px;
}
